<html class="no-js">
<head>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
<link type="image/png" rel="SHORTCUT ICON" href="images/trophy.png">
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
<script type="text/javascript">
$(window).load(function(){  
      $('#wrapper').fadeIn(700); 
});
</script>
</head>
<body class="load">
<div id="wrapper">
	<h1>TRIUMPH</h1>
	<div id="home-play">
		<div class="play-choice">
			<a href="/games" class="button red">Games</a>
			<a href="/games/new" class="button green">New Game</a>
			<a href="/users/top" class="button golden">Leaderboard</a>
			<a href="/games/past" class="button grey">History</a>
		</div>
		<div class="logout">
			<a href="/logout" class="button grey">Logout</a>
		</div>
	</div>
</div>
</body>
</html>