<html class="no-js">
<head>
<title>Play Triumph</title>
<link type="image/png" rel="SHORTCUT ICON" href="images/trophy.png">
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script type="application/javascript" src="/js/notif.js"></script>
<link rel="stylesheet" type="text/css" href="/css/notif.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script type="text/javascript" src="/js/map.js"></script>
</head>
<body class="load">
<div id="wrapper">
	<div id="canvas_container" style="margin-left:auto;margin-right:auto;width:800px;height:600px;"></div>
</div>
</body>
</html>