
<html class="no-js">
<head>
    <title>New Game - TRIUMPH</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link type="image/png" rel="SHORTCUT ICON" href="/images/trophy.png">
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"></script>
<script type="application/javascript" src="/js/notif.js"></script>
<link rel="stylesheet" type="text/css" href="/css/notif.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/chosen.css">
<script type="text/javascript"> jQuery(document).ready(function(){
  jQuery(".chosen").data("placeholder","Usernames").chosen();
}); </script>
<style type="text/css">
    body{
        padding-top: 60px;
    }
</style>
<script type="text/javascript">
$(window).load(function(){  
      $('#container').fadeIn(700); 
      var game = <%= game %>;
});
</script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">TRIUMPH</a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li class="dropdown" id="menu1">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                  Games
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
          
        </div>
      </div>
      <div id="nav-colors"></div>   
    </div>
    <div class="container">
        <div id="wrapper">
            <div id="canvas_container" style="margin-left:auto;margin-right:auto;width:800px;height:600px;"></div>
        </div>
    </div>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript">
    $('.dropdown-toggle').dropdown()
    </script>
</body>
</body>
</html>