#wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#home-play{
    margin-top: 100px;
}
.play-choice {
    width: 150px;
    height: auto;  
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 20px;
    padding-right:20px;
    text-align: center;
}
.play-choice img{
    margin-bottom:10px;
    opacity: 0.7;
    background: #FFF;
    border: solid 5px #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.play-choice img:hover{
    opacity: 1;
}
a {
    text-decoration: none;
    text-align:center;
    color: #eee;
    display: inline;
}
a:hover {
    color: #fff;
}
a.link{
    margin-left: -20px;
}
.logout{
    margin-top: 50px;
    text-align: center;
}